<div @fadeIn class="container">
    <div class="row mt-5 hero">
        <div class="col-lg-12 mt-5 text-center">
            <h1 [ngClass]="head">hello at <span>AYS STORE</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center pt-5">
            <h2 [ngClass]="title">your best online e-commerce destionions </h2>
            <p [ngClass]="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aspernatur vero iste ullam modi expedita maxime, et esse! Alias accusamus perspiciatis repudiandae voluptate quae</p>
            <button><a href="/products">shop now <i class="fa-solid fa-arrow-right"></i></a></button>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img src="{{img1}}" alt="" srcset="" style="width: 450px;">
        </div>
    </div>
</div>